<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="/src/css/styles.css" />
    <script type="module" src="/src/js/toggle-button.js"></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Tailwind Elements</h1>
    <h2>
      &lt;toggle-button&gt; (is="toggle-button")
    </h2>
    <toggle-button
      class="border-1"
      class-names=""
      pressed-text="chevron_left"
      unpressed-text="chevron_right"
    >
    </toggle-button>

    <toggle-button
      class="border-2"
      class-names="material-icons"
      pressed-text="chevron left"
      unpressed-text="chevron right"
      pressed-icon="chevron_left"
      unpressed-icon="chevron_right"
    >
    </toggle-button>
  </body>
</html>
